# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# JetBrains
/.idea

# Project
*.log
linux/install_configs/*
!linux/install_configs/desktop.txt
!linux/install_configs/server.txt
!linux/install_configs/base.txt
!linux/install_configs/games.txt
